#country_name_select,#ownerid_select{
    border: 1px solid indigo;
    border-radius: 10px;
    padding-right: 10px;
    margin-left: -5px;
    padding-left: 6px;
}

#cancelBillingBtn,
#updateBillingBtn,
#addBillingBtn{
    border-radius: 40px !important;
}